@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "{}/imports/app/colors.scss";
@import "{}/imports/app/standards.scss";
@import "{}/imports/ui/components/navigation/navigation.scss";
@import "{}/imports/ui/components/campaignAdd/addCampaign.scss";
@import "{}/imports/ui/components/campaignsList/listCampaigns.scss";
@import "{}/imports/ui/components/npcsList/listNpcs.scss";
@import "{}/imports/ui/components/npcDetails/detailNpc.scss";
@import "{}/imports/ui/components/statBlock/statBlock.scss";
@import "{}/imports/ui/components/attackBlockList/listAttackBlocks.scss";
@import "{}/imports/ui/components/attackBlockAdd/addAttackBlock.scss";
@import "{}/imports/ui/components/encountersList/listEncounters.scss";
@import "{}/imports/ui/components/encounterDetails/detailEncounter.scss";
@import "{}/imports/ui/components/locationDetails/detailLocation.scss";
@import "{}/imports/ui/components/locationAdd/addLocation.scss";
@import "{}/imports/ui/components/locationsList/listLocations.scss";
@import "{}/imports/ui/components/listSelector/listSelector.scss";
@import "{}/imports/ui/components/linkList/linkList.scss";
@import "{}/imports/ui/components/register/register.scss";
@import "{}/imports/ui/components/campaignDetails/detailCampaign.scss";
@import "{}/imports/ui/components/listFilter/listFilter.scss";
@import "{}/imports/ui/components/tagSelector/tagSelector.scss";
@import "{}/imports/ui/components/tagAdd/addTag.scss";
@import "{}/imports/ui/components/campaignInfo/campaignInfo.scss";

.body-login {
    background-image: url("congruent_outline.png");
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.campaign {
    &:hover {
        cursor: default;
        background-color: $gray;
    }

    &.active {
        color: #fff;
        background-color: $secondary;
    }

    .campaign-title {
        padding: 8px 0px;
        display: inline-block;
        font-size: 18px;
    }

}

.left-home {
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
}