$primary : #2F2933;
$primary-lt: #514858;
$primary-dk: #1F1724;

$accent: #B83D3D;
$accent-lt: #F9C8C8;
$accent-dk: #971E1E;

$secondary: #256E6E;
$secondary-lt: #69A3A3;
$secondary-dk: #125B5B;

$gray: #f1f1f1;
$gray-dk: #d6d6d6;

$removal: #FC2424;


$filter-height: 22px;
$filter-font-size: 9pt;
