.campaigns-list{
    padding: 8px 0px;
    border-right: 1px solid #e1e1e1;

    .label1 {
        padding: 4px 0px;
    }

    .label3 {
        color: #a1a1a1;
    }

    ul {
        li {
            display: block;
            padding: 4px 0px;

            &.active{
                background-color: #d1d1d1;
            }
        }
    }
}