<div class="list-npcs">
    <ul>
        <div class="label3">Npcs</div>
        <li ng-repeat="npc in npcsList.campaign.npcs"
              ng-click="npcsList.selectNpc(npc)"
              ng-class="{'active': npcsList.selectedNpc._id == npc._id}">
                <span class="label1">{{ npc.name }} - {{ npc._id }}</span>
                <button ng-click="npcsList.destroyNpc(npc)">destroy</button>
        </li>
        <li>
        <npc-add selected-c='npcsList.selectedC'></npc-add>
        </li>
    </ul>
</div>