.list-selector {
    .item{
        cursor: default;

        &:hover {
            background-color: $gray;
        }

        &.active {
            background-color: $secondary;
            color: #fff;
        }
    }
}