.attack-block-list {
    .attack-block {
        padding: 4px 4px 8px 4px;
        margin-bottom: 6px;

        &:nth-child(even){
            background-color: $gray;
        }

        &:nth-child(odd){
            background-color: #fff;
        }

        input.tiny {
            width: 100%;
        }

        .removal {
            &:hover {
                color: $removal;
            }
        }
    }
}