.add-attack-block {
    border: 1px solid $gray-dk;
    border-radius: 3px;
    padding: 6px;
    margin-top: 6px;

    input[type="radio"] {
        display: inline-block;
        width: auto;
    }
}