<div class="btn-group tag-selector" uib-dropdown is-open="tagSelector.isopen">
  <button type="button" class="btn gray" uib-dropdown-toggle>
    <div class="tag selected-tag" ng-class="tagSelector.tag"></div><span class="carat"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li ng-repeat="tag in tagSelector.tags" role="menuitem" ng-click="tagSelector.selectTag(tag)">
        <div class="tag" ng-class="tag"></div>
    </li>
  </ul>
</div>