.list-filter {

    .group-row {
        padding: 4px 0px;
        border-bottom: 1px solid $gray-dk;
        font-size: $filter-font-size;

        input {
            height: $filter-height;
            font-size: $filter-font-size;
        }
    }

    .item-rows {
        font-size: 14px;
        position: absolute;
        top: -4px;
        left: 0px;
        background-color: $gray;
        z-index: 999;
        width: 212px;
        padding: 8px;
        box-shadow: 1px 1px 3px #333;

        .row{
            .list-item {
                cursor: pointer;

                &:hover {
                    background-color: $gray-dk;
                }
            }
        }
    }
}