<div class="list-filter">
    <div class="row no-gutters group-row">
        <div class="col-lg-8">
            <div class="filter-box">
                <div class="filter-icon-box vtop">
                    <i class="fa fa-search"></i>
                </div>
                <input ng-model="listFilter.filter" class="form-control"></input>
            </div>
        </div>
        <div class="col-lg-4 text-right">
<!--             <select ng-options="tag for tag in listFilter.tags" ng-model="listFilter.tagSelection"></select> -->

            <div class="btn-group" uib-dropdown is-open="listFilter.isopen">
              <button type="button" class="btn" uib-dropdown-toggle>
                <div class="tag selected-tag" ng-class="listFilter.selectedTag"></div><span class="carat"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="tag in listFilter.tags" role="menuitem" ng-click="listFilter.selectTag(tag)">
                    <div class="tag" ng-class="tag"></div>
                </li>
              </ul>
            </div>

        </div>
    </div>
</div>