.navigation {
    padding: 8px 0px;
    background-image: url("congruent_outline.png");
    color: #f1f1f1;
    border-bottom: 2px solid $gray-dk;
    margin-bottom: 4px;

//    background-color: #f1f1f1;
}